<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="idv.patrick.media" android:versionCode="1"
	android:versionName="1.0.0">
	<application android:label="@string/app_name" android:name="Showtime"
		android:icon="@drawable/video">
		<activity android:name=".MediaList" android:label="@string/activity_media_list">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".PlayerPanel" android:label="@string/activity_player_panel"
			android:screenOrientation="sensor" android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="video/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:mimeType="video/mp4" />
				<data android:mimeType="video/3gp" />
				<data android:mimeType="video/3gpp" />
				<data android:mimeType="video/3gpp2" />
			</intent-filter>
		</activity>
		<activity android:name="SettingsActivity" android:label="@string/activity_settings">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
		<activity android:name="MediaScannerActivity" android:label="Media Scanner">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
	</application>
</manifest> 